extends ../layouts/main.pug
block content
  .container
    header
      h1= title

    div
      table.table.table-striped
        thead
          tr
            th Name
            th Genre
            th Author
            th
        
        tbody
          each artist in artists
            tr
              td
                a(href=`/artists/${artist.id}`)= artist.name
              td= artist.category
              td= `${artist.author.firstName} ${artist.author.lastName}`
              td
                a(href=`/artists/${artist.id}/edit`) edit
                = ` | `
                form.destroy(action=`/artists/destroy`, method="POST")
                  input(type="hidden", name="id", value=`${artist.id}`)
                  input.destroy(type="submit", value="destroy")
          
